.infoo{float:left;border:0px solid black; width:270px; margin-top:0px; height:450px;margin-left:39px;}

.logo{margin-top:38px;margin-left:80px}

.info{border:0px solid black;width:210px;
    margin-left:25px;height:180px;
    margin-top:40px}
    
.welmess{width:230px; height:70px; border:0px solid black; margin-left:25px; font-family:"Comic Sans MS", cursive, sans-serif; color:white;}

#container{width:1400px; height:700px; border:0px solid red; margin-left:auto; margin-right:auto;
}

#loginover{float:right;
    margin-right:0px;
    border:0px solid black;
    background-color: white;
    width:450px;
    height:500px;
    margin-top:0px;
    background-color:white;
    
}

.bxes{
    width:365px;
    height:30px;
    border-bottom:1px solid black;
    border-top:0px black;
    border-left:0px black;
    border-right:0px black;
}



#loginover2{float:right;
    margin-right:0px;
    border:0px solid black;
    background-color: white;
    width:450px;
    height:500px;
    margin-top:0px;
    background-color:white;
    
}

.navigate{border:1px solid black;width:330px; float:left;
    margin-left:5px;height:450px;
    margin-top:0px}
